body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header{
    margin: 0;
    background-color: #462446;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 24px;
}

.text{
    font-size: 20px;
}

.leftIntro{
    margin: 20px;
}

a{
    color: azure;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
    
}

a{
    text-decoration: none;
}

.nav{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: azure;

}


.introImg{
    padding-right: 20px;
    width: 400px;
    height: 205px;

}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*button{
    background-color: #3882f6;
    border: none;
    color: white;
    <!-- HTML !-->
<button class="button-2" role="button">Button 2</button>*/

/* CSS */
button{
  background-color:#3882f6;
  border-radius: 8px;
  border: none;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 12px;
}

.content{
    flex: 1;
}

.content{
    display: flex;
    flex-direction: column;

}

.part1{

    background-color: #b05f6d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}




.part2{
    flex: 1;
    background-color: #eb6b56; 
}

.part3{
    flex: 1;
    background-color: #ffc153;
    padding: 80px;
}
.items{
    display: flex;
    justify-content: center;
  flex-wrap: wrap;

}

.item{
    
    background-color: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;


}

/* .imgItem{
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    
} */

.cat-1{
    background-image: url("item1.jpg");
}
.cat-2{
    background-image: url("item2.jpg");
}
.cat-3{
    background-image: url("item3.jpg") ;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cat-4{
    background-image: url("item4.jpg");
}

.blochquote{
    max-width: 600px;
    margin: 10px 30px;
    padding: 25px;
    border: 1px solid #1f2937;
    box-sizing: border-box;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote{
    display: flex;
    justify-content: center;

}

.credit{
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.azra9{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 36px;
    font-weight: bolder
}

.button2{
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    padding: 30px 24px;
}

.footer{
    background-color: #47b39d;
    height: 45px;
    display: flex; /*hmmmmmmmmmmmmmmmmmmm is this how u center a text in a div*/
    align-items: center;
    justify-content: center;
}

